<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>
 	
 	
	<appender name="file-osb" class="org.apache.log4j.RollingFileAppender">
	   <param name="append" value="false" />
	   <param name="maxFileSize" value="10KB" />
	   <param name="maxBackupIndex" value="5" />
	   <!-- For Tomcat -->
	   <param name="file" value="${test.log.dir}/mylogOSB.log" />
	   <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	   </layout>
		<filter class="com.carlgira.weblogic.util.RegexFilter">
			<param name="Regex" value="(.*)(OSB)(.*)" />
			<param name="Action" value="ACCEPT" />
		</filter>
	</appender>
	
	<appender name="file-ohs" class="org.apache.log4j.RollingFileAppender">
	   <param name="append" value="false" />
	   <param name="maxFileSize" value="10KB" />
	   <param name="maxBackupIndex" value="5" />
	   <!-- For Tomcat -->
	   <param name="file" value="${test.log.dir}/mylogOHS.log" />
	   <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	   </layout>
		<filter class="com.carlgira.weblogic.util.RegexFilter">
			<param name="Regex" value="(.*)(OHS)(.*)" />
			<param name="Action" value="ACCEPT" />
		</filter>
	</appender>
 
	<root>
		<level value="DEBUG" />
		<appender-ref ref="file-osb" />
		<appender-ref ref="file-ohs" />
	</root>
 
</log4j:configuration>